{%- if product.has_only_default_variant == false -%}
    <div class="product-alt__option-selectors" data-disable-unavailable>
    {%- for option in product.options_with_values -%}
    {%- capture option_id -%}{{ section.id }}-{{ product.id }}-{{ option.name | handle }}-selector{%- endcapture -%}
    {%- liquid
        assign uses_swatches = false
        assign sanitized_setting = settings.swatch_option_name | downcase
        assign option_name = option.name | downcase
        if sanitized_setting contains option_name
            assign uses_swatches = true
        endif
    -%}
    <div class="product-alt__option-selector{% if uses_swatches %} option-selector--swatch{% endif %}"  data-option-index="{{ forloop.index0 }}" role="radiogroup" aria-labelledby="{{ option_id }}-Label">
        <div class="opposing-items">
            <label class="product-alt__option_name" id="{{ option_id }}-Label">{{ option.name }}</label>
            <span class="product-alt__selected_option">{{ option.selected_value }}</span>
        </div>
        <div class="product-alt__option-selector_btns">
            {%- for value in option.values -%}
            <input class="product-alt__opt-btn js-option"
                    type="radio"
                    name="{{ option_id }}"
                    id="{{ option_id }}-opt-{{ forloop.index0 }}"
                    value="{{ value | escape }}"
                    {% if product.variants.size == 1 or variant != blank %}{% if option.selected_value == value %}checked{% endif %}{% endif %}
                    required>
            <label class="product-alt__opt-label"{% if uses_swatches %} style="--bg:{{ bg }}" data-swatch="{{ value | replace: '"', '' | downcase }}"{% endif %} for="{{ option_id }}-opt-{{ forloop.index0 }}">
                {% if uses_swatches %}
                    {% liquid
                        assign img = value.variant.featured_media
                    %}
                    {% if img != blank %}
                        {{ img | image_url: width: 600 | image_tag: class: 'product-alt__opt_img' }}
                    {% else %}
                        {{ 'product-1' | placeholder_svg_tag: 'product-alt__opt_img placeholder' }}
                    {% endif %}
                {% endif %}
                <span class="product-alt__opt-label_text">{{ value }}</span>
            </label>
            {%- endfor -%}
        </div>
    </div>
{%- endfor -%}
</div>
{%- endif -%}
<script>  
    function getSelectedOptions(productContainer) {
        const selectors = productContainer.querySelectorAll('.product-alt__variant-picker .product-alt__option-selector');
        const values = [];

        selectors.forEach((selector) => {
            const checked = selector.querySelector('.js-option:checked');
            values.push(checked ? checked.value : null);
        });

        return values;
    }
    function findVariantByOptions(product, options) {
        return product.variants.find(variant => {
            return options.every((value, index) => {
            return variant[`option${index + 1}`] === value;
            });
        });
    }
    function updateOptionVisibility(product, options, productContainer) {
        options.forEach((option, index) => {
            const nextSelector = productContainer.querySelector(`.product-alt__option-selector[data-option-index="${index+1}"]`);
            const slice = options.slice(0,index+1);
            if(nextSelector){
                nextSelector.querySelectorAll('.js-option').forEach(input => {
                    const variant = product.variants.find(variant => {
                        return [...slice, input.value].every((value, index) => {
                            return variant[`option${index + 1}`] === value;
                        });
                    });
                    console.log(variant)
                    input.classList.toggle('variant-option-hidden', variant === undefined)
                })
            }
        })
    }
    function updateSelectedBasedOnVisibility(options, productContainer) {
        options.forEach((option, index) => {
            const selector = productContainer.querySelector(`.product-alt__option-selector[data-option-index="${index}"]`);
            const checked = selector.querySelector('.js-option:checked');
            if(checked.classList.contains('variant-option-hidden'))
            {
                const availableOption = selector.querySelector('.js-option:not(.variant-option-hidden)');
                if(availableOption){
                    availableOption.checked = true;
                }
                options[index] = availableOption?.value || null;
            }
        })
    }
    

    const productContainer = document.querySelector('[data-section-type="main-product"]');
    productContainer.addEventListener('change', (e) => {
        if (!e.target.classList.contains('js-option')) return;

        const selectedOptions = getSelectedOptions(productContainer);
        updateOptionVisibility(Theme.currentProduct, selectedOptions, productContainer)
        updateSelectedBasedOnVisibility(selectedOptions, productContainer)
        console.log(selectedOptions)
        // if not all options selected yet, bail
        if (selectedOptions.includes(null)) return;
        const variant = findVariantByOptions(
            Theme.currentProduct,
            selectedOptions
        );
        if (!variant) return;
        e.target.dispatchEvent(
            new CustomEvent('variant_changed', {
            bubbles: true,
            detail: {
                variant,
                product: Theme.currentProduct,
                options: selectedOptions
            }
            })
        );
    });

</script>  
{% stylesheet %}
.product-alt__option-selector:not(:first-child){
    margin-top: 28px;
}
.product-alt__option-selector .opposing-items{
    line-height: 114%;
}
.product-alt__option_name{
    font-weight: 700;
    margin-inline-end: 4px;
}
.product-alt__option_name::after{
    content: ":";
}
.product-alt__option-selector_btns{
    display: flex;
    grid-gap: 6px;
    margin-top: 12px;
    /* flex-wrap: wrap; */
}
.product-alt__opt-label{
    display: flex;
    background: #F1F1F1;
    border: 1px solid transparent;
    transition: border-color 0.3s ease-out;
    height: 45px;
    padding: 10px;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    &:hover{
        border-color: #0003;
    }
}
.product-alt__opt-btn{
    display: none;
}
.product-alt__opt-btn:checked+.product-alt__opt-label{
    border-color: #000;
}
.product-alt__opt_img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    mix-blend-mode: darken;
}
.product-alt__option-selector.option-selector--swatch{
    .product-alt__option-selector_btns{
        grid-gap: 10px;
    }
    .product-alt__opt-label{
        width: 64px;
        height: 64px;
        flex-shrink: 0;
        aspect-ratio: 1/1;
        padding: 0;
        flex-grow: unset;
    }
    .product-alt__opt-label_text{
        display: none;
    }
}
{% endstylesheet %}